<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Test ELMS client</display-name>
    <context-param>
        <description>Locale</description>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>edu.uj.elms.messages</param-value>
    </context-param>
    <servlet>
        <servlet-name>Finder</servlet-name>
        <servlet-class>uj.edu.elms.servlets.Finder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAdder</servlet-name>
        <servlet-class>uj.edu.elms.servlets.BookAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCopies</servlet-name>
        <servlet-class>uj.edu.elms.servlets.BookCopies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reader</servlet-name>
        <servlet-class>uj.edu.elms.servlets.Reader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Readers</servlet-name>
        <servlet-class>uj.edu.elms.servlets.Readers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderAdder</servlet-name>
        <servlet-class>uj.edu.elms.servlets.ReaderAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderLogin</servlet-name>
        <servlet-class>uj.edu.elms.servlets.ReaderLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCopyAdder</servlet-name>
        <servlet-class>uj.edu.elms.servlets.BookCopyAdder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Finder</servlet-name>
        <url-pattern>/finder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAdder</servlet-name>
        <url-pattern>/bookAdder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCopies</servlet-name>
        <url-pattern>/bookCopies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reader</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Readers</servlet-name>
        <url-pattern>/readers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderAdder</servlet-name>
        <url-pattern>/readerAdder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderLogin</servlet-name>
        <url-pattern>/readerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCopyAdder</servlet-name>
        <url-pattern>/bookCopyAdder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    </web-app>
